.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}
.reviews {
  font-size: 28px;
  letter-spacing: 2px;
  color: #3d59ab;
  align-self: center;
  margin-left: 15px;
}
.slash {
  font-size: 28px;
  color: #00f5ff;
  text-align: center;
}
.person {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75vw;
  height: 550px;
  margin: 4rem auto 0;
  position: relative;
  overflow: hidden;
}

.btn {
  outline: none;
  font-size: 1rem;
  background-color: #3d59ab;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 27px;
  height: 27px;
  place-items: center;
  transition: all 0.3s linear;
  align-self: center;
}
.next {
  position: absolute;
  top: 200px;
  right: 10vw;
}
.prev {
  position: absolute;
  top: 200px;
  left: 10vw;
  z-index: 1;
}
.btn:hover {
  background-color: #008cff;
}
